/* custom button
----------------------------------------- */
.btn-custom {
  background-color: hsl(110, 56%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d70000", endColorstr="#d70000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d70000), to(#d70000));
  background-image: -moz-linear-gradient(top, #d70000, #d70000);
  background-image: -ms-linear-gradient(top, #d70000, #d70000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d70000), color-stop(100%, #d70000));
  background-image: -webkit-linear-gradient(top, #d70000, #d70000);
  background-image: -o-linear-gradient(top, #d70000, #d70000);
  background-image: linear-gradient(#d70000, #d70000);
  border-color: #d70000 #d70000 hsl(110, 56%, 11%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}




}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#d70000;
}
.stylish-input-group button .btn-custom{
    border:0;
    background:transparent;
}
